{% extends 'partials/base.html' %}
{% block title %} Home Page {% endblock %}

{% block content %}

{% if user.is_authenticated and user.is_staff and user.is_superuser %}

{% include 'partials/topnav.html' %}

<!-- Graphs -->

<!-- Load Chart.js before your script -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<div class="container" id="admin-dashboard-container">
    <div class="row my-5">
        <div class="col-md-6">
            <div class="bg-white">
                <canvas id="myChart1" width="400" height="300"></canvas>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var ctx1 = document.getElementById('myChart1').getContext('2d');
                        var myChart1 = new Chart(ctx1, {
                            type: 'pie',
                            data: {
                                labels: [{% for product in products %} '{{ product.name|safe }}', {% endfor %}],
                                datasets: [{
                                    label: 'Number of Products',
                                    data: [{% for product in products %} {{ product.quantity }}, {% endfor %}],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(215, 159, 64, 1)',
                                        'rgba(155, 76, 172, 1)',
                                        'rgba(54, 75, 295, 1)',
                                        'rgba(55, 206, 86, 1)',
                                        'rgba(75, 12, 192, 1)',
                                        'rgba(53, 102, 255, 1)',
                                        'rgba(25, 159, 64, 1)'
                                    ],
                                    borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(215, 159, 64, 1)',
                                    'rgba(155, 76, 172, 1)',
                                    'rgba(54, 75, 295, 1)',
                                    'rgba(55, 206, 86, 1)',
                                    'rgba(75, 12, 192, 1)',
                                    'rgba(53, 102, 255, 1)',
                                    'rgba(25, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    });
                </script>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-white">
                <canvas id="myChart2" width="400" height="300"></canvas>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var ctx2 = document.getElementById('myChart2').getContext('2d');
                        var myChart2 = new Chart(ctx2, {
                            type: 'bar',
                            data: {
                                labels: [{% for order in orders %} '{{ order.product.name|safe }}', {% endfor %}],
                                datasets: [{
                                    label: 'Order Quantities',
                                    data: [{% for order in orders %} {{ order.order_quantity }}, {% endfor %}],
                                    backgroundColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(215, 159, 64, 1)',
                                    'rgba(155, 76, 172, 1)',
                                    'rgba(54, 75, 295, 1)',
                                    'rgba(55, 206, 86, 1)',
                                    'rgba(75, 12, 192, 1)',
                                    'rgba(53, 102, 255, 1)',
                                    'rgba(25, 159, 64, 1)'
                                ],
                                borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(215, 159, 64, 1)',
                                'rgba(155, 76, 172, 1)',
                                'rgba(54, 75, 295, 1)',
                                'rgba(55, 206, 86, 1)',
                                'rgba(75, 12, 192, 1)',
                                'rgba(53, 102, 255, 1)',
                                'rgba(25, 159, 64, 1)'
                                ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<!-- End of graphs -->

{% else %}
  {% include 'dashboard/staff_index.html' %}
{% endif %}
{% endblock %}
