{% extends 'partials/base2.html' %}
{% block title %} Password Reset Completed {% endblock %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Password Reset Complete Page</h4>
            <hr>
            <div class="alert alert-info">
                <h5>Now you can login with your new password!</h5>
            </div>
            <a href="{% url 'user-login' %}">Login</a>
        </div>
    </div>
</div>



{% endblock %}
