{% extends 'partials/base2.html' %}
{% block title %} Email sent successfuly {% endblock %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Email sent successfuly </h4>
            <hr>
            <div class="alert alert-info">
                <h5>A mail has been sent to the email address you provided.It has instructions you should follow to reset your password.</h5>
            </div>
           
        </div>
    </div>
</div>



{% endblock %}
